@charset "utf-8";
/* Evita que border y padding sumen en el ancho o alto de los elementos */
*, *:before, *:after{
	box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: url(../img/stil-734851-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}

body{
    padding: 0;
    margin: 0;
}

a, a:link, a:visited, a:active{
    text-decoration: none;
    color: black;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.navGrey{
    background-color: hsla(194, 1%, 77%, 0.8); 
    font-size: 1.1em;
}

nav ul li{
    display: flex;
    align-items: center;
    padding: 1% 3% 1% 3%;
}

nav ul li:hover{
    color: aliceblue;
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s; 
}

nav ul li{
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
    color: black;
}

#nav2{
    display: none;
}

#nav3{
    display: none;
}

#center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    width: 100%;
}

.full100{
    width: 100%;
}

#infoCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    font-size: 3em;
    
}

#infoCenter a:hover, .projets a:hover{
    color:#87898A;
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
}

#infoCenter a, .projets a{
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
    color: black;
}

#centroIndex h2{
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir{
    from{width: 100%}
    to{width: 0}
}

#projectsCenter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.projets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    padding: 2%;
    margin: 2% 2% 2% 0;  
    background-color: #F7F6F6;
    border: solid 1px white;
    border-radius: 1%;
}

#footer{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-self: flex-end;
    flex-wrap: wrap;
    background-color: hsla(194, 3%, 28%, 1);
    width: 100%;
}

.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 33.3%;
}

.foot a:hover{
    color: #E7E7E7;
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
}

.foot a{
    -o-transition:1.5s;
    -ms-transition:1.5s;
    -moz-transition:1.5s;
    -webkit-transition:1.5s;
    transition:1.5s;
    color: black;
}

.foot span{
    margin-left: 2%;
}

.filter{
    background-color: rgba(247, 246, 246, 0.5);
    filter: grayscale(100%);
}

.white{
    background-color: rgba(247, 246, 246, 0.5);
}

@media screen and (max-width: 1024px){

    .projets{
        width: 45%;
    }

    #infoCenter{
        font-size: 2.5em;
    }

}

@media screen and (max-width: 600px){

    .projets{
        width: 90%;
    }

    #nav1{display: none;}
    #nav2{
        margin-left: 4%;
        display: unset; 
    }

    #nav2 li{
        margin: 2%;
    }

    #infoCenter{
        font-size: 2em;
    }

    .foot{
        width: 100%;
    }

}